<?xml version="1.0"?>
<launch>

    <!-- This is a launch file for recording the topics for my thesys  -->
    
  <node pkg="rosbag" type="rosbag" name="rosbag_record"
   args="record -o /home/atlascar/Desktop/bags/bags_morais_TMP
	/snr/cam/0/image_color
	/snr/scam/wide/left/image_color
	/trf/frames
	/trf/joints
	/vhc/driver/status
	/vhc/gps/odom
	/vhc/plc/command
	/vhc/plc/status
	/vhc/velocity/status
	"/>


</launch>
